html {
  height: 100%;  
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;;
  padding-top: 5%;
  background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
  background: linear-gradient(bottom, #0250c5, #cab5c0);
  perspective: 800px;
}
.main {
  background: #ffffff;
  width: 35%;
  height: 500px; 
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 20px 20px 30px;
}
h1 {
  margin-top: 1px;
  font-size: 36px;
  color: #333333;
  text-transform: uppercase; 
}
a:hover {
  color: #d33f8d;
}
.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email-field, .pass-field {
  display: flex;
  margin: 10px;
  width: 75%;
  margin-bottom: 15px;
}
.icon {
  position: absolute;
  padding: 10px;
  background: #d33f8d;
  color: white;
  width: 2%;
  height: auto;
  text-align: center;
  border-radius: 5px;
}
input {
  padding: 2%;
  padding-left: 55px;
  border-radius: 5px;
  width: 100%;
  height: auto;
  font-size: 16px;
  line-height: 1.2;
  color: #686868;
  background: #e6e6e6;
  outline: none;
}
input:hover {
  border-color: #d33f8d;
}
.log-btn, .res-btn {
  margin: 10px;
  padding: 2%;
  border-radius: 5px;
  width: 25%;
  height: 45px;
  font-weight: bold;
  background: #d33f8d;
  border: 1px solid white;
  color: white;
}
.log-btn:hover {
  background: black;
  color: azure;
  border: 1px solid white;
  border-radius: 10px;
  transform: scaleX(1.2);
  transition: .2s ease-in 0s;
  animation-name: slide;
  animation-delay: 2s;
}
.reset {
  padding: 2%;
  width: 40%;
  display: none;
}
.res-btn {
  width: 50%;
  height: 35px;
  border-radius: 25px;
}
.res-btn:hover {
  background: black;
  color: azure;
}
.res-btn:hover ~ .pass-field {
  display: none;
}
.res-btn:hover ~ .log-btn {
  display: none;
}
.res-btn:hover ~ .reset {
  display: initial;
}

/* .btn {
  box-sizing: border-box;
  width: 25%;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background: #222;
}
.log {
  width: 100%;
  background: #222;
  border: none;
  color: white;
}
.log:hover {
  animation-name: slide;
  animation-duration: 2s;
}
button, .res-link, .log-link {
  cursor: pointer;
}
@keyframes slide {
  from { width: 0% }
  to { width: 100%; }
} */
@media (max-width: 1000px) {
  .main {
    width: 40%;
  }
  .res-btn {
    font-size: 12px;
  }
  .icon {
    height: 2.5%;
  }
}
@media (max-width: 900px) {
  .main {
    width: 50%;
  }
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  .main {
    width: 80%;
  }
  h1 {
    font-size: 26px;
  }
  .icon {
    height: 3.2%;
    width: 2%;
  }
}
@media (max-width: 550px) {
  .icon {
    height: 3%;
    width: 3%;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .icon {
    height: 2.7%;
    width: 3.5%;
  }
}
@media (max-width: 380px) {
  .main {
    width: 95%;
  }
  .icon {
    height: 2.5%;
    width: 3.5%;
  }
}
@media (max-width: 300px) {
  .main {
    width: 100%;
    height: 550px;
  }
  .icon {
    height: 2.1%;
    width: 4.5%;
  }
  .res-btn {
    width: 70%;
  }
  .reset {
    width: 50%;
  }
  .log-btn {
    width: 40%;
  }
}
@media (max-width: 270px) {
  h1 {
    font-size: 20px;
  }
  .icon {
    height: 1.7%;
    width: 5%;
  }
}